extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  link(rel="stylesheet" href="/stylesheets/index.css")
  div(class="home_body")
    div(class="header-container")
      h1= title
      a(href="/users/register" class="sub_link" id='signUp') Sign Up Free
      //- p Welcome to Git-R-Done!
