doctype html
html
  head
      block head
        title="Git_R_Done"
        link(rel='stylesheet' href='/stylesheets/matts.css')
  body
    div(class="navbar_container")
      a(href="/lists")
        img(class="navbar_left_logo" src="icons/gitrdoneMenu.png" href="/lists")
      div(class="navbar_right")
        a(href="/users/demologin" class="nav_link" id='demo') Demo User
        a(href="/users/login" class="nav_link" id="login") Log in
        a(href="/users/logout" class="nav_link" id='logOut') Log Out
        a(href='/users/register' class='signUp') Sign up for free
        //- select(type="dropdown" class="nav_link" id="Menu") Menu
    div(class="navbar_border")
    block content
    div(class="nav_footer_container")
      div(class="footer-container")
        div(class="footer-items")
          ul(class="nav_stack")
            li(class="footer_headings") Company
            li
              a(class="footer-links" href='') About
            //- Repeat lines 14-17 for rest of groupings
