doctype html
html
  head
      block head
        title="Git_R_Done"
        link(rel='stylesheet' href='/stylesheets/matts.css')
        link(rel='icon' type="image/x-icon" href='/icons/R.png')
  body
    div(class="navbar_container")
      a(href="/lists")
        img(class="navbar_left_logo" src="/icons/gitrdoneMenu.png")
      div(class="navbar_right")
        if userId === undefined
          a(href="/users/demologin" class="nav_link" id='demo') Demo User
          a(href="/users/login" class="nav_link" id="login") Log in
          a(href='/users/register' class='signUp') Sign up for free
        else 
          a(href="/users/logout" class="signUp" id='logout') Log Out
        //- select(type="dropdown" class="nav_link" id="Menu") Menu
    div(class="navbar_border")
    block content
    div(class="nav_footer_container")
      div(class="footer-container")
        div(class="footer-items")
          ul(class="nav_stack")
            li(class="footer_headings") Technologies
            li(class="footer_subs")
              a(class='footer-link no-link') JavaScript           
            li(class="footer_subs")
              a(class='footer-link no-link') Express           
            li(class="footer_subs")
              a(class='footer-link no-link') Pug
            li(class="footer_subs")
              a(class='footer-link no-link') PostgreSQL
            li(class="footer_subs")
              a(class='footer-link no-link') Sequelize
            li(class="footer_subs")
              a(class='footer-link no-link') NodeJS
          ul(class="nav_stack2")
            li(class="footer_headings") Developers
            li(class="footer_subs")
              a(href="https://www.linkedin.com/in/eric-geagan-462323195/")
                img(src="/icons/linkedin.png" class='icon')
              a(href="https://github.com/ericgeagan" class='footer-link')
                img(src="/icons/github.png" class='icon')
              a(class="linkName") Eric Geagan
            li(class="footer_subs")
              a(href="https://www.linkedin.com/in/allen-faughn-4a3502235/")
                img(src="/icons/linkedin.png" class='icon')
              a(href="https://github.com/aFaughn")
                img(src="/icons/github.png" class='icon')
              a(class='linkName') Allen Faughn
            li(class="footer_subs")
              a(href="https://www.linkedin.com/in/andrew-wilkinson-847a84113/")
                img(src="/icons/linkedin.png" class='icon')
              a(href="https://github.com/adub671" class='footer-link')
                img(src="/icons/github.png" class='icon')
              a(class='linkName') Andrew Wilkinson
            li(class="footer_subs")
              a(href="")
                img(src="/icons/linkedin.png" class='icon')
              a(href="https://github.com/HMH970" class='footer-link')
                img(src="/icons/github.png" class='icon')
              a(class='linkName') Matthew Hautala
            //- Repeat lines 14-17 for rest of groupings
