doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div(class="navbar_container")
      a(class="navbar_left_logo")
      ul(id="navbar_right")
        li(class="nav_link" id="login") Log in
        li(class="nav_link" id="Menu") Menu
    div(class="nav_footer_container")
      div
        ul(class="nav_stack")
          li(class="footer_headings") Header Name
          li Sub Link Here
          //- Repeat lines 14-17 for rest of groupings
    block content
