extends layout.pug
append head
  script(src='/javascripts/listScript.js' type='module')

block content
  //- Main content Wrapper
  div(id='content')
    //- Side nav bar
    div(id='side-nav-bar')
      //- Wrapper for img logo
      div(id='logo-container')
        a(href='/lists/form') Create new list form
        //- Begin list of lists
        div(id='list-column')
          //- Review before merging!
          //- Create a link to each list present in our Db
          ul(class='lists')
              li(id='allTasks') All Tasks
              each list in lists
                //-   //- Click listener to display tasks in list.
                li(class=`listItem_${list.id}`)= list.name
                div(class='button-div')
                  a(href='lists/' + list.id + '/edit' id=`edit_${list.id}`) Edit
                  button(class="delete-list-button" id=`dlb${list.id}`) Delete
                //- End List population


    div(id='task-detail-pane')
      div(class="task_pane_titles") Task Name
        span(id='taskName')
      div(class="task_pane_titles") Priority
        span(id='priority')
      div(class="task_pane_titles") Due Date
        span(id='dueDate')
      div(class="task_pane_titles") Start Date
        span(id='startDate')
      div(class="task_pane_titles") Completed?
        span(id='completed')
      div(class="task_pane_titles") Estimated Time
        span(id='estimatedTime')
      div(class="task_pane_titles") Note
        span(id='note')
      div(class="task_pane_titles") List ID
        span(id='listId')
      div(class="task_pane_titles") Created At
        span(id='createdAt')
      div(class="task_pane_titles") Updated At
        span(id='updatedAt')
      div(id='taskEditButtonContainer')
      div(id='taskDeleteButtonContainer')

    //- Main task list - will be populated after selecting a list.
    div(id='task-content-wrapper')
      //- Task List Wrapper
      div(id='table-wrapper')
        a(href='/tasks/form') Create new task form
        table(class='taskTable')
          tr
            th(class="table_header" id="task_header")
              div Task
              div Done?
              tr(id='taskTableData')

