extends layout.pug
append head
  script(src='/javascripts/listScript.js' type='module')

block content
  //- Main content Wrapper
  div(id='content')
    //- Side nav bar
    div(id='side-nav-bar')
      //- Wrapper for img logo
      div(id='logo-container')
        a(href='/lists/form') Create new list form
        //- Begin list of lists
        div(id='list-column')
          //- Review before merging!
          //- Create a link to each list present in our Db
          ul(class='lists')
            each list in lists
              //-   //- Click listener to display tasks in list.
              li(class=`listItem_${list.id}`)= list.name
              a(href='lists/' + list.id + '/edit') Edit
              //- End List population


    //- Main task list - will be populated after selecting a list.
    div(id='task-content-wrapper')
      //- Task List Wrapper
      div(id='table-wrapper')
        a(href='/tasks/form') Create new task form
        table
          tr
            th Task
            th Completed?
              tr(id='taskTableData')



              div(id='task-detail-pane')

 