extends layout.pug
include utils.pug

block content
  link(rel='stylesheet' href='/stylesheets/task-form.css')
  div(id='form-wrapper')
    form(id='list-form' action='/lists' method='post')
      a(href='/lists')
        div(id='go-back')
          p Go Back
      div(id='title')
        h1(id='form-header') Create New List
      p Required fields are marked with *
      +validationErrorSummary(errors)
      input(type='hidden' name='_csrf' value=csrfToken)
      label List Name *
      input(type='text' name='name' class='list-name' required)
      button(type='submit' id="list-submit") Submit