    div(id='form-wrapper')
    form(id='task-form' action='/tasks' method='post')
      label Task Name *
      input(type='text' name='name' class='list-name' required)
      label Task Priority
      input(type='number' name='priority' class='task-priority')
      label Due Date
      input(type='date' name='dueDate' class='task-dueDate')
      label Start Date
      input(type='date' name='startDate' class='task-startDate')
      label Repeat?
      select(name='repeating')
        option(value=true)= 'True'
        option(value=false)= 'False'
      input(type='hidden' name='completed' value=false)
      label Estimated Time
      input(type='number' name='estimatedTime')
      button(type='submit') Submit
