extends layout.pug

include utils.pug

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
    div(class='login-page')
        div(class='leftHalf')
            div test
        div(class='rightHalf')
            div(class='login-form')
                +validationErrorSummary(errors)
                form(action='/users/login' method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    +field('', 'emailAddress', emailAddress, 'text', 'Email')
                    +field('', 'password', null, 'password', 'Password')
                    div(class='py-4')
                    button(type='submit' class='btn btn-primary login-btn') Login
                    //- a(href='/' class='btn btn-warning ml-2') Cancel