 body {
     /* font-family: Arial, Helvetica, sans-serif; */
     background-color: #0060bf;
     margin: 0px;
 }

 img {
    height: 83px;
  }

.navbar_border {
    border: 1px solid transparent;
    border-width: 0 0 5px;
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.05);
}

.navbar_container {
    display: block;
    position: relative;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 970px; */
    max-width: 1000px;
    min-height: 114px;
    /* padding: 5px 5px 5px; */
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /* height: 40px; */
    background-color: #0060bf
}

.navbar_right {
    position: relative;
    /* top: 35px; */
    display: flex;
    float: right;
    margin-top: 42px;
    margin-right: 0;
}

.navbar_left_logo {
    padding: 12px 0 0 2px;
    display: inline-block;
    z-index: 2;
}

.signUp {
    border: 2px solid;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 6px 11px;
    margin-top: -1px;
    margin-left: 21px;
    text-decoration: none;
    white-space: nowrap;
    opacity: 0.8;
    line-height: 22px;
}

#demo,
#Menu,
#logOut,
#login {
    text-decoration: none;
    white-space: nowrap;
    float: right;
    padding-top: 2px;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    opacity: 0.8;
    padding: 5px 18px;
    /* margin: 0px 5px 5px 0px; */
    /* border: 1px solid rgb(239, 236, 233); */
    /* border-radius: 5px; */
}

#signUp {
    border: 1px solid  transparent;
    border-radius: 4px;
    /* float: right; */
    text-decoration: none;
    color: #fff;
    background-color: #d24b03;
    padding: 11px 32px 12px;
    margin-bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1.2;
}

.nav_footer_container {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* position: relative; */
    background-color: #fff;
    width: 100%;
    padding: 50px 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    height: 323px;
    text-decoration: none;
}

.footer-container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-items {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
}

.nav_stack {
    min-width: 151px;
    list-style: none;
}

.footer-links {
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    color: #8b8b94;
    padding: 0 15px;
    width: 151px;
}

.footer-links:hover {
    background-color: #e4e4e7;
    border-radius: 3px;
}

.footer_headings {
    font-weight: 700;
    color: #8b8b94;
    margin: 2px 0 8px 15px;
}

.home_body {
    display: flex;
    flex-direction: column;
    padding-top: 52px;
    padding-bottom: 560px;
    align-items: center;
    width: 100%;
    height: 214px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
