 body {
     /* font-family: Arial, Helvetica, sans-serif; */
     background-color: #0060bf;
     margin: 0px;
 }

 img {
    height: 83px;
}

.icon {
    width: 20px;
    height: 20px;
}

.linkName {
    cursor: default;
    color: #8b8b94;
}

.navbar_border {
    border: 1px solid transparent;
    border-width: 0 0 5px;
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.05);
}

.navbar_container {
    display: block;
    position: relative;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 970px; */
    max-width: 1000px;
    min-height: 114px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    /* height: 40px; */
    background-color: #0060bf
}

.navbar_right {
    position: relative;
    /* top: 35px; */
    display: flex;
    float: right;
    margin-top: 42px;
    margin-right: 0;
}

.navbar_left_logo {
    padding: 12px 0 0 2px;
    display: inline-block;
    z-index: 2;
}

.signUp {
    border: 2px solid;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 6px 11px;
    margin-top: -1px;
    margin-left: 21px;
    text-decoration: none;
    white-space: nowrap;
    opacity: 0.8;
    line-height: 22px;
}

#demo,
#Menu,
#logout,
#login {
    text-decoration: none;
    white-space: nowrap;
    float: right;
    padding-top: 2px;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    opacity: 0.8;
    padding: 5px 18px;
    /* margin: 0px 5px 5px 0px; */
    /* border: 1px solid rgb(239, 236, 233); */
    /* border-radius: 5px; */
}

#signUp {
    border: 1px solid  transparent;
    border-radius: 4px;
    /* float: right; */
    text-decoration: none;
    color: #fff;
    background-color: #d24b03;
    padding: 11px 32px 12px;
    margin-bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1.2;
}

.nav_footer_container {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* position: relative; */
    background-color: #fff;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
    position: relative;
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    height: 270px;
    text-decoration: none;
}

.footer-container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-items {
    display: flex;
    justify-content: space-around;
    vertical-align: top;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
}

.footer-link {
    text-decoration: none;
    color: #8b8b94;
    /* margin-top: 5px;
    padding-top: 5px; */
}

.footer_subs:hover {
    background-color: #dfdfe6;
    border-radius: 4px;
}

.nav_stack {
    display: inline-block;
    min-width: 151px;
    list-style: none;
    padding-left: 0;
}

.nav_stack2 {
    min-width: 151px;
    list-style: none;
    float: right;
    padding-left: 0;
}

.footer-links {
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    color: #8b8b94;
    padding: 0 15px;
    width: 151px;
}

.footer-links:hover {
    background-color: #e4e4e7;
    border-radius: 3px;
}

.home_body {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 560px;
    align-items: center;
    width: 100%;
    height: 214px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.lists {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#logo-container {
    background-color: darkgrey;
    padding-top: 10px;
    margin-top: 10px;
}

#logo-container > a{
    text-decoration: none;
    width: 178px;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.lists > li {
    background-color: #fff;
    list-style-type: none;
    margin-right: 10px;
    border-top: 1px solid #0060bf;
    border-bottom: 1px solid #0060bf;
    width: 178px;
    padding: 5px 5px 0px 5px;
    align-items: center;
}

.lists > a {
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    text-decoration: none;
}

/* th {
    width: 300px;
} */

#nav_title {
    justify-content: start;
}

#side-nav-bar {
    background-color: darkgray;
    margin-top: 10px;
}

.footer_headings {
    font-size: 24px;
    font-weight: bold;
    color: #8b8b94;
    list-style-type: none;
    margin: 2px 0 8px 0px;
    /* border-bottom: 1px solid darkgray */
    cursor: default;
}

.footer_subs {
    list-style-type: none;
    padding: 2px 0;
    padding-left: 0;
    margin-bottom: 4px;
}

.no-link {
    cursor: default;
}

.task_row {
    background-color: #0060bf;
    white-space: nowrap;
    text-align: left;
    background-color: #fff;
}

.completed_rows {
    background-color: #009dff;
    text-align: center;
}

#task_header {
    background-color: #fff;
    border-bottom: 1px solid dark gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#completed_header {
    background-color: #0060bf;
}

#table-wrapper > a {
    background-color: #fff;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px;
    border-radius: 5px;
    text-decoration: none;
}

#table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

#taskTableData  {
    background-color: #0060bf;

}

#task-detail-pane {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    padding-top: 75px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;

}

.task_pane_titles {
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
    white-space: nowrap;
    border-bottom: 1px solid #0060bf;
    padding: 5px 5px 5px 5px;
}

.task_pane_titles > span {
    background-color: #009dff;
    text-align: right;
    white-space: nowrap;
    font-weight: 400;
    margin-left: 20px;
}

td {
    padding: 5px 8px 5px 8px;
}

.table_header {
    margin-top: 25px;
}
.button-div {
    margin:5px;
}
.delete-list-button,
 .button-div > a{
    padding: 0px 2px 0px 2px;
    margin: 0px 5px 0px 5px;
    border: 1px solid #0060bf;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0060bf
}

